[submodule "protobufs"]
	path = protobufs
        url = git@github.com:anm/meshtastic-protos-nyan.git
	branch = nyan

[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
