[submodule "protobufs"]
	path = protobufs
	url = git@gitlab.com:riverm/meshtastic-protos-nyan.git
	branch = nyan

[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
